.address {
 
    display: none;

    @media screen and (min-width: 768px), (max-width: 1199px) {
      display: flex;
      flex-direction: column;
      list-style: none;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: auto;
      font-style: normal; 
      }  

      @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        list-style: none;
        margin-left: auto;
        font-style: normal; 
        padding-left: 0;
         }   

     }   
  
   
  .address__mail {
    fill: currentColor;
    transition: background-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .address__link {
    @media screen and (min-width: 480px), (max-width: 767px) {
      display: none;
      }   

      @media screen and (min-width: 768px), (max-width: 1199px) {
      text-decoration: none;
      display: flex;
      align-items: center;
      height: 40px;
      }

      @media screen and (min-width: 1200px) {
        text-decoration: none;
        display: flex;
        align-items: center;
    }   
  }
  .address__link:last-child {
    margin-right: 0px;
  }
  
  .address__link:hover,
  .address__link:focus {
  color: var(--accent-color);
  cursor: pointer;
  }
  