.menu-btn {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;

  margin-left: auto;
  z-index: 11;
  
  @media screen and (min-width: 768px) {
          display: none;
  } 

}


.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transform: translateX(100%);

  width: 100%;
  height: 100%;
  padding: 48px 40px;
  z-index: 1000;

  display: flex;
  flex-direction: column;

  background-color: #fff;
  transform: translate(100%);
  transition: transform 250ms;

  @media screen and(min-width: 768px) {
    display: none;
}
  &.is-open {
      transform: translateX(0);
  }

  @media screen and (min-width: 768px) {
      display: none;
  }

}
.net {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 48px;
  }
  .net__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2196F3;
  text-decoration: none;
  }



.mob {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}
.mob__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.mob__link--blue {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196F3;
  margin-bottom: 32px; 
  text-decoration: none;
}
.mob--nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: auto;
}
.mob__item {

}

.mob__element {

}
/*.mob__element--inactive {
  @media screen and (min-width: 480px) {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;

    }

}*/
.mob__element--active {
  @media screen and (min-width: 480px) {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;
    } 
}
.mob__element--active:hover,
.mob__element--active:focus {
  color: #2196F3;
}

.menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
}
.menu-toggle:hover,
.menu-toggle:focus {
    fill: #2196f3;
   
  }
  